    
  

  <div class="limiter">
    <div class="container-table100">
      <div class="wrap-table100">
        <div class="table100 ver1 m-b-110">
    <table data-vertable="ver1">
      <thead>
        <tr class="row100 head">
          <th class="column100 column1" data-column="column1" 
          *ngFor="let column of displayedColumns">{{column}}</th>
        </tr>
      </thead>
      <tbody>
        <tr class="row100" *ngFor="let element of demandes">
          <td class="column100 column1" data-column="column8">{{element.nomPrenom}}</td>
          <td class="column100 column1" data-column="column8">{{element.telephone}}</td>
        </tr>
      </tbody>
    </table>
  </div>

