

  <div class="limiter">
    <div class="container-table100">
      <div class="wrap-table100">
        <div class="table100 ver1 m-b-110">
    <table data-vertable="ver1">
      <thead>
        <tr class="row100 head">
          <th class="column100 column1" data-column="column1" 
          *ngFor="let column of displayedColumns">{{column}}</th>
          <th class="column100 column1" style="color: #36304a;" data-column="column1" 
          >hhhhh</th>
        </tr>
      </thead>
      <tbody>
        <tr class="row100" *ngFor="let element of intermediaires">
          <td class="column100 column1" data-column="column8">{{element.username}}</td>
          <td class="column100 column1" data-column="column8">{{element.commune1}}</td>
          <td class="column100 column1" data-column="column8">{{element.commune2}}</td>
          <td class="column100 column1" data-column="column8">{{element.commune3}}</td>
          <td class="column100 column1" data-column="column8">{{element.ville}}</td>
          <div style="display: flex;">
            <button class="btn btn-success btn-lg column100 columnb">Valider</button>
            <button class="btn btn-danger btn-lg column100 columnb">Rejeter</button>
          </div>
        </tr>
      </tbody>
    </table>
  </div>

