
  <table class="table">
    <thead>
      <tr>
        <th scope="col" *ngFor="let column of displayedColumns">{{column}}</th>
       
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let element of intermediaires">
        <th scope="row">{{element.username}}</th>
        <td>{{element.commune1}}</td>
        <td>{{element.commune2}}</td>
        <td>{{element.commune3}}</td>
        <button class="btn btn-success btn-lg">Valider</button>
        <button class="btn btn-danger btn-lg">Regeter</button>
      </tr>
    </tbody>
  </table>
