
<header>

<nav class="navbar navbar-expand-lg center ">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Bien'immo</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse flex" id="navbarSupportedContent">
        <form class="d-flex nav-item dropdown">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="#">Annonces</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Statistiques</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Localisation</a>
                </li>
                <li>
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      <mat-icon aria-hidden="false" aria-label="Example home icon">account_circle</mat-icon>
                      </a>
                      <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#">Se connecter</a></li>
                        <li><a class="dropdown-item" href="#">S'inscrire</a></li>
                      </ul>
               </li>  
            </ul>
        </form>
      </div>
    </div>
  </nav>
</header>
  <div>
      <img src="../assets/homeImg.jpg" 
      alt="home image"
      height="500px">
      <div class="wrapMyItems">
        <ul class="nav justify-content">
            <li class="nav-item myItems">
              <a class="nav-link" href="#">Achat</a>
            </li>
            <li class="nav-item myItems">
              <a class="nav-link" href="#">Location</a>
            </li>
          </ul>
      </div>
      <div class="myItemsText">
          <p>Aimrez-vous acheter ou loger <br/>
            une belle appartement, villa...</p>
          <button type="button" class="btn btn-secondary">Visitez les annonces </button>
      </div>
  </div>

  <!--presentation de l'application-->

  <div class="presentation">
      <div class="presentationWrap">
          <div class="presentationTextWrap">
            <div class="presentationText">
                <h1 style="color: rgb(133, 186, 238) ; text-align: center;margin-bottom: 10px;"> Qui somme nous ?</h1>
                    <strong>Bien'immo</strong> est une plateforme digitale qui met en relation toute personne à la recherche d’un bien immobilier 
                (location & vente), avec les particuliers et les acteurs professionnels du secteur.<br/><br/>
                <div>
                    <p style="font-size: medium;"> <strong style="color:rgb(133, 186, 238) ;">&#10003;</strong> Elle répond à une demande croissante dans la niche de l’immobilier neuf et contribue à garantir 
                une expérience probante d’acquisition pour les futurs acquéreurs
                    </p>
                    <p style="font-size: medium;"> <strong style="color:rgb(133, 186, 238) ;">&#10003;</strong> Elle Accompagne ses clients de bout en bout et offre une expérience à la hauteur de l’investissement 
                    engagé.
                    </p>
                </div>
            </div>
          </div>
          <div>
              <img src="https://res.bienici.com/cacheForever/2d8a3237c83bb1bbde144e60a1cb2ce3a042ae9d/images/contentillustrations/city.jpg" 
              alt="imagePresentation"
              height="500px">
          </div>
      </div>
  </div>

  <!--fonctionnalité de l'application-->
  <div class="container" style=" background-color: rgb(221, 219, 219);">
      <div class="row fonctionnalite" >
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="https://res.bienici.com/cacheForever/2c567ff8f6b7343dbdfa56592e6a2057647f45ff/images/contentillustrations/street-phone.jpg" 
                height="210px"
                class="card-img-top" 
                alt="Localisation">
                <div class="card-body">
                  <h5 class="card-title">Recherche Simplifiée</h5>
                  <p class="card-text">En plus de nos nombreuses fonctionnalités pratiques, profitez de modes de recherche multiples et innovants</p>
                </div>
            </div>
          </div>
          <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="../assets/statistiques.jpg" 
                height="210px"
                class="card-img-top" 
                alt="Localisation">
                <div class="card-body">
                  <h5 class="card-title">Statistiques</h5><br/>
                  <p class="card-text">Avec également des statistiques utiles vous allez faire de meilleurs plans, 
                      contrôler les résultats et boucler votre budget.</p>
                </div>
            </div>
          </div>
          <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="https://res.bienici.com/cacheForever/5d1d1393882776d18c91152e3c209f28f0445ed7/images/contentillustrations/neighborhood.jpg" 
                class="card-img-top" 
                alt="Localisation">
                <div class="card-body">
                  <h5 class="card-title">Localisation</h5><br/>
                  <p class="card-text">Localisez simplement les commerces, les transports, 
                      les écoles et tous les autres points d’intérêt autour du bien qui vous intéresse. </p>
                </div>
            </div>
          </div>
         


      </div>

  </div>

  <footer>
   <div style="display: flex;">
     <div class="first">
       <h6>Découvrir</h6>
       <br>
       <ul>
         <li>
           <a>Decouvrir bien'immo</a>
         </li>
         <li>
          <a>Vendez ou louer votre bien</a>
        </li>
        <li>
         <a>Guides et conseils immobilier</a> 
        </li>
       </ul>
     </div>
     <div class="first">
      <h6>L'entreprise</h6>
      <br>
      <ul>
        <li>
          <a>Besoin d'aide ?</a>
        </li>
        <li>
        <a>Nous contactez</a>
       </li>
       <li>
        <a>Donnez votre avis</a>
       </li>
      </ul>
     </div>
   </div> 
   <div class="icons">
    <span style="margin-right :30px">Retrouvez nous sur</span>
    <mat-icon aria-hidden="false" aria-label="Example home icon">facebook</mat-icon>
    <mat-icon aria-hidden="false" aria-label="Example home icon">instagram</mat-icon>

  </div> 
  </footer>





<router-outlet></router-outlet>