
<div class="annonce-card"(click)="onClick()" >
    <div>
        <img src="assets/statistiques.jpg" 
        alt="annonce image"
        width="330px"
        height="330px"/>
    </div>
    <div >
        <div style="text-align: center;">
            <div style="width: fit-content;display: flex;margin-left: auto;margin-right: auto;">
                <h3 class="annonce-title"><strong>{{annonce.typeBien}}</strong></h3>
                 <p class="annonce-operation">{{annonce.typeOperation}}</p>
            </div> 
        </div>
        <p class="annonce-description">{{annonce.description}}</p> 
        <span class="annonce-price"><strong>{{annonce.prix}}</strong></span>
    </div>
    
</div>
