
<div class="annonce-card">
    <div>
        <img src="assets/statistiques.jpg" 
        alt="annonce image"
        width="330px"
        height="330px"/>
    </div>
    <div>
        <h3 class="annonce-title"><strong>{{annonce.title}}</strong></h3>
        <p class="annonce-description">{{annonce.description}}</p> 
        <span class="annonce-price"><strong>{{annonce.price}}</strong></span>
    </div>
    <div>
        <button type="button" class="demander-button">Demander</button>
    </div>
</div>
